<div id="<%= dom_id picture %>">
  <p>
    <strong>Name:</strong>
    <%= picture.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= picture.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= picture.user_id %>
  </p>

</div>
